@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato-Regular'), url('../fonts/Lato-Regular.woff') format('woff');
}

html {
  overflow-y: auto;
}

html,
body {
  font-family: $body-font-family;
}
